@model MVC_project.Models.Student

<div style="margin-top: 20px;">
    <dl>
        <dt>@Html.DisplayNameFor(m => m.Id)</dt>
        <dd>@Html.DisplayFor(m => m.Id)</dd>

        <dt>@Html.DisplayNameFor(m => m.Name)</dt>
        <dd>@Html.DisplayFor(m => m.Name)</dd>

        <dt>@Html.DisplayNameFor(m => m.Surname)</dt>
        <dd>@Html.DisplayFor(m => m.Surname)</dd>

        <dt>@Html.DisplayNameFor(m => m.GroupId)</dt>
        <dd>@Html.DisplayFor(m => m.GroupId)</dd>

        <dt>@Html.DisplayNameFor(m => m.Status)</dt>
        <dd>@Html.DisplayFor(m => m.Status)</dd>
    </dl>

    <div>
        <a class="btn btn-primary" href="@Url.Action("Edit", "Student")">Редактировать</a>
    </div>
</div>

<style>
    dl {
        margin-bottom: 10px;
    }

    dt {
        display: inline-block;
        width: 30%;
    }

    dd {
        display: inline-block;
        width: 60%;
    }
</style>
